h1 {
  color:black;
  font-family: "Arial";
  font-size:55px;
  background-color:white;
  text-align: center;}

#title-homepod {

  text-align: center;
  font-family:Arial;
  font-size: 25px;}

h2 {
  text-align: center;
  font-size: 56px;
  text-align: center;
  font-family: "Arial";}

#title-say-hello {
  text-align: center;
   font-family: Arial;
   font-size: 25px;
 }

h3 {
text-align: center;
font-size: 40px;
font-family: "Arial";
}

#title-watch {
  text-align: center;
  font-family: "Arial";
  font-size: 20px;
}

#main-image1 {
  text-align: center;
  font-size: 100px;
  width: 600;
  height: 400;
}

#main-image2 {
  text-align: center;
  font-size: 100px;
width: 700;
height: 700;
}

#main-image3 {
  text-align: center;
  font-size: 100px;
  width: 950;
  height:600;
  border-style: solid;
  border-width: 15px;
  border-color: white;
  }

body {background-color:white;}
body {margin:0;}

.topnav {
    overflow: hidden;
    background-color: #333;
  }

.topnav a {
    font-family:Arial;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 13px;}

.topnav a:hover {
    background-color: #ddd;
    color: black;}

.topnav a.active {
    background-color: #4CAF50;
    color: white;}

.topnav-right {
    float: right;}

#image-right {
  text-align: right;
  width: 700px;
  float: right;
  height: 700px;
}

.fila img { max-width: 100%;}
.img-right { float: right; width: 49.5%;
    border-style: solid;
    border-color: white;}

.img-left { float: left; width: 49%;
      border-style: solid;
      border-color: white;
      border-width: 8px;}
